.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  background-color: #f8f9fa;
}
#sidebar {
  width: 28%;
}

#main {
  width: 100%;
  position: relative;
  background-color: #f8f9fa;
}
#input {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f8f9fa;
}
#chat-history {
  background-color: #f8f9fa;
}



