.the-input {
 width: 73vw;
  padding-left: 1vw;
  background: #f8f9fa;

}
.form-control {
  background: #f8f9fa !important;
}
.input-group {
  background: #f8f9fa !important;
}
.mb-3 {
  background-color: #f8f9fa !important;
}
