<h5>Marek Baraniecki</h5>
<div class="pre-scrollable">
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <div class="card received-message">
    <div class="message-body" >This is some text within a card body.</div>
  </div>
  <div class="card sent-message">
    <div class="message-body">
      This is some text within a card body.
    </div>
  </div>
  <hr>
    </div>



