<div class="text-center">
  <h1 class="h2 mb-4 font-weight-bold">POLCHATEX</h1>
  <div *ngIf="messages.passwordsNotMatching" class="alert alert-warning" role="alert">
    The password you provided don't match!
  </div>
  <div *ngIf="messages.fillOutAllFields" class="alert alert-warning" role="alert">
    You have to fill out all of the fields!
  </div>
  <div *ngIf="messages.passwordTooShort" class="alert alert-warning" role="alert">
    Your password should be at least 8 characters long!
  </div>
  <div *ngIf="messages.usernameTaken" class="alert alert-info" role="alert">
      That username is already taken!
  </div>
  <div *ngIf="messages.successfullyRegistered"class="alert alert-success" role="alert">
    You have successfully registered! Now you can <a href="/login" class="alert-link">Login</a>!
  </div>
  <div *ngIf="messages.terribleError" class="alert alert-danger" role="alert">
    Something went terribly worng, please try again in a moment!
  </div>
  <form class="form-signin">
    <label for="inputEmail" class="sr-only">Email address</label>
    <input [(ngModel)]="email" name="email" type="email" id="inputEmail" class="form-control"  placeholder="E-mail address" required autofocus>
    <small id="passwordHelpBlock" class="form-text text-muted">
      (Email not supported yet, type in anything you want)
    </small>
    <label for="inputUsername" class="sr-only">Email address</label>
    <input [(ngModel)]="username" name="username" type="email" id="inputUsername" class="form-control" placeholder="Username" required autofocus>

    <label for="inputPassword" class="sr-only">Password</label>
    <input [(ngModel)]="password" name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>

    <label for="inputRepeatPassword" class="sr-only">Password</label>
    <input [(ngModel)]="repeatPassword" name="repeatPassword" type="password" id="inputRepeatPassword" class="form-control" placeholder="Repeat your password" required>

    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="submit()">Register</button>
    <p class="mt-5 mb-3 text-muted"><a href="http://github.com/developol">&copy; Developol 2018</a></p>
  </form>
</div>
